body{
    font-size: 20px;
}
input{
    outline: none;
    caret-color: #0d6efd;
}
button{
    cursor: pointer;
    letter-spacing: 0.6px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#totalCharge {
    font-size: 22px;
}
#download{
    font-size: 19px;
    letter-spacing: 0.6px;
}
.copyright{
    font-size: 15px;
    text-align: end;
    color: #0d6efd;
}
header > span {
    margin-left: 4rem;
}